html, body{
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 400;
}
/* button{
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 500;
} */
rect{
    shape-rendering: crispEdges;
}
circle, path { 
    shape-rendering: geometricPrecision;
}
.container{
    display: flex;
    flex-direction: column;
}
.container div{
    align-items: stretch;
    margin: 5px 0px;
}
#conditions{
    width: 99%;
    height: 180px;
    resize: none;
}
#saveConditions:focus{
    outline: none;
}  
#saveConditions{
    margin-top: 0px;
    width: 140px;
    height: 25px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-top: 2px solid #eaeaea;
    border-left:2px solid #eaeaea;
    border-bottom: 2px solid #BBB;
    border-right: 2px solid #BBB;
}
#saveConditions:active{
    border-left:2px solid #BBB;
    border-top: 2px solid #BBB;
    border-right:2px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6;
    transition: all;
}
#errors span{
    color:red;
    font-weight: 600;
}
#errors {
    margin: 5px 0px;
    line-height: 22px;
}
@font-face {
    font-family: "Open Sans";
    src: url("./Open_Sans/OpenSans-Regular.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-RegularItalic.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-Light.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-LightItalic.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-SemiBold.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-SemiBoldItalic.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-Bold.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-BoldItalic.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-ExtraBold.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-ExtraBoldItalic.ttf") format("ttf"),
}