html, body, .container {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    font: caption;
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    /* do not autoselect text */
    user-select: none;
}
rect, path{
    shape-rendering: crispEdges;
}
circle { 
    shape-rendering: geometricPrecision;
}

.container{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
.item{
    align-items: stretch;
}
/* Elements */
.elements{
    flex-grow: 1;
    padding: 20px 10px 0px 10px;
    background-color: #f0f0f0;
    max-width: 250px;
}
#paperAvailableElements{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#paperAvailableElements li{
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid #FFF;
}

/* Dialog properties */
.dialog{
    padding: 0px;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.dialog #paper{
    border: 1px solid #7f7f7f;
    background-color: #a6a6a6;
    padding-top: 35px;
    flex: 5;
}
.dialog #dlgProps{
    padding: 0px 0px 5px 0px;
    background-color: #f0f0f0;
    display: flex;
    flex: 1;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}
#dlgProps .dProp{
    margin: 3px 0px;
    align-items: stretch;
    text-align: left;
}
.size div {
    display: inline-block;
    width: 49%;
}
.size .dProp label{
    width: 78px!important;
}
.size .dProp input{
    width: 80px!important;
}
#dialogDependencies::placeholder{
    color: #a9a9a9;
}
#dlgProps label{
    display: inline-block;
    color: #323232;
    width: 80px;
    box-sizing: border-box;
    padding-right: 10px;
    cursor: pointer;
    text-align: left;
}
#dlgProps input{
    box-sizing: border-box;
    display: inline-block;
    width: 250px;
    height: 25px;
    border: 1px solid #e6e5e5;
    padding: 2px 5px;
}
#dlgProps > div{
    flex-grow: 1;
}
/* see properties for button style */
#conditions{
    margin: 0px!important;
}
#dlgProps:last-child{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Element properties */
#properties{
    padding: 0px 10px 50px 10px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 250px;
    width: 250px;
}
#propertiesList h4{
    padding: 0px;
    margin: 0px 0px 10px 0px;
    /* text-align: center; */
    text-transform: uppercase;
}
#propertiesList .elprop{
    margin: 3px 0px;
    align-items: stretch;
}
#propertiesList fieldset,  #dlgProps fieldset{
    border: 0px;
    margin: 10px 0px;
    padding: 0px;
}
#propertiesList fieldset legend, #dlgProps fieldset legend{
    color: #000000;
    font-weight: 600;
    padding-bottom: 3px;
    border-bottom: 2px solid #FFF;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
}
#dlgProps fieldset{
    max-width: 340px;
}
#dlgProps fieldset legend{
    text-align: left;
}
#propertiesList label{
    display: inline-block;
    color: #323232;
    width: 110px;
    box-sizing: border-box;
    padding-right: 10px;
}
#propertiesList input, #propertiesList select{
    box-sizing: border-box;
    display: inline-block;
    width: 130px;
    height: 25px;
    border: 1px solid #e6e5e5;
    padding: 2px 5px;
}
#propertiesList input:disabled, #propertiesList input:read-only{
    background-color: #f0f0f0;
}
#removeElement, #conditions, #dlgSyntax{
    margin-top: 0px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-top: 2px solid #eaeaea;
    border-left:2px solid #eaeaea;
    border-bottom: 2px solid #BBB;
    border-right: 2px solid #BBB;
}
#removeElement:active, #conditions:active, #dlgSyntax:active{
    border-left:2px solid #BBB;
    border-top: 2px solid #BBB;
    border-right:2px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6;
    transition: all;
}
#removeElement:disabled, #conditions:disabled, #dlgSyntax:disabled{
    color:#aaa;
}
#removeElement:focus, #conditions:focus, #conditions:focus, #dlgSyntax:focus{
    outline: none;
}
#properties .buttons{
    margin-top: 50px;
    text-align: center;
}

/* dialog ---------- */
.dialogButtons{
    text-align: right;
}
#dlgSyntax{
    display: block;
    margin: 5px 0px;
    width: 150px;
}

@font-face {
    font-family: "Open Sans";
    src: url("./Open_Sans/OpenSans-Regular.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-RegularItalic.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-Light.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-LightItalic.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-SemiBold.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-SemiBoldItalic.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-Bold.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-BoldItalic.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-ExtraBold.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-ExtraBoldItalic.ttf") format("ttf"),
  }